# Dependencies
/node_modules
.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/tmp
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.nyc_output

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional files
.c9/
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
